* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fbfbff;
  color: #4c5c68;
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#container header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
}

#container header img {
  width: 10%;
  margin-right: 0.5rem;
}

#container main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85vh;
  width: 100%;
}

#player-one-container,
#player-two-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 1rem;
  text-align: center;
}

#player-one-container i,
#player-two-container i {
  font-size: 2.3rem;
}

#player-one-container h3 {
  color: #dd2e44;
}

#player-two-container h3 {
  color: #457b9d;
}

#player-one-score,
#player-two-score {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

#board-container {
  display: flex;
  flex-wrap: wrap;
  width: 22rem;
  height: 22rem;
  border: 0.15rem solid #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 9px;
}

#board-container .field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  min-height: calc(100% / 3);
  border: 0.15rem solid #e0e0e0;
  background-color: #eee;
}

.field .eks::after {
  content: "\274c";
  font-size: 3.9rem;
}

.field .oks {
  width: 3.9rem;
  height: 3.9rem;
  border: 0.5rem solid #457b9d;
  border-radius: 50%;
}

#board-container .field:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

#container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

#container footer a {
  text-decoration: none;
  color: #4c5c68;
  margin-left: 0.3rem;
}
