* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fbfbff;
  color: #4c5c68;
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#container header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
}

#container header img {
  width: 10%;
  margin-right: 0.5rem;
}

#container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  gap: 10%;
  padding-top: 2rem;
}

.players-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  word-break: normal;
}

#player-one-container,
#player-two-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

#message-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 36%;
}

#player-one-container i,
#player-two-container i {
  font-size: 2.3rem;
}

#player-one-container h3 {
  color: #dd2e44;
}

#player-two-container h3 {
  color: #457b9d;
}

#board-container {
  display: flex;
  flex-wrap: wrap;
  width: 26rem;
  height: 26rem;
  border: 0.15rem solid #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 9px;
}

#board-container .field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  min-height: calc(100% / 3);
  border: 0.15rem solid #e0e0e0;
  background-color: #eee;
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

.field .eks,
.field .oks {
  pointer-events: none;
  animation: expand 0.1s ease-out;
}

.eks {
  width: 3.9rem;
  height: 3.9rem;
  position: relative;
}

.eks:after {
  content: "";
  height: 3.9rem;
  border-left: 0.5rem solid #dd2e44;
  position: absolute;
  transform: rotate(45deg);
  left: 1.75rem;
}

.eks:before {
  content: "";
  height: 3.9rem;
  border-left: 0.5rem solid #dd2e44;
  position: absolute;
  transform: rotate(-45deg);
  left: 1.75rem;
}

.field .oks {
  width: 3.4rem;
  height: 3.4rem;
  border: 0.5rem solid #457b9d;
  border-radius: 50%;
}

#board-container .field:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

#restart-button {
  width: 15%;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fbfbff;
  background-color: #e9c46a;
  cursor: pointer;
}

#dialog-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 22%;
  height: 55%;
  border-radius: 1rem;
  background-color: #eee;
  z-index: 10;
  padding: 1rem 0;
}

#dialog-box .player-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#dialog-box .player-input label {
  font-size: 1.4rem;
  font-weight: bold;
}

#dialog-box .player-input label i {
  font-size: 2rem;
}

#dialog-box .player-input:nth-child(2) label {
  color: #dd2e44;
}

#dialog-box .player-input:nth-child(3) label {
  color: #457b9d;
}

#dialog-box .player-input input[type="text"] {
  width: 60%;
  height: 2.3rem;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.1rem;
  color: #4c5c68;
  padding: 0 0.5rem;
}

.player-input input[type="text"]::placeholder {
  text-align: center;
}

#dialog-box .player-input input:focus {
  outline: none;
}

#dialog-box .player-input:nth-child(2) input:focus {
  border: 0.15rem solid #dd2e44;
}

#dialog-box .player-input:nth-child(3) input:focus {
  border: 0.15rem solid #457b9d;
}

#dialog-box .error-message {
  color: #dd2e44;
}

#dialog-box input[type="submit"] {
  width: 40%;
  height: 2.5rem;
  border: none;
  border-radius: 0.7rem;
  color: #fbfbff;
  background-color: #e9c46a;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

#restart-button:hover,
#dialog-box input[type="submit"]:hover {
  transform: scale(1.05);
}

#dark-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

#container footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

#container footer a {
  text-decoration: none;
  color: #4c5c68;
  margin-left: 0.3rem;
}

@media only screen and (max-width: 1500px) {
  #dialog-box {
    width: 40%;
  }
}

@media only screen and (max-width: 1000px) {
  #player-one-container i,
  #player-two-container i {
    font-size: 1.8rem;
  }

  #restart-button {
    width: 25%;
  }

  #dialog-box {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  #container {
    width: 95%;
  }

  #player-one-container i,
  #player-two-container i {
    font-size: 1.2rem;
  }

  #board-container {
    width: 20rem;
    height: 20rem;
  }

  #restart-button {
    width: 40%;
  }

  #dialog-box {
    width: 90%;
  }
}
